/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//COMPASS IMPORTS
//@import "compass/reset";
//@import "compass";

//MODULES & VARIABLES
@import "partials/base";
@import "partials/colors";
@import "partials/typography";

//PARTIALS
@import "partials/reset";
@import "partials/grid";
@import "partials/general";
@import "partials/header";
@import "partials/footer";
@import "partials/catalogue";
@import "partials/item";
@import "partials/cart";
@import "partials/form";
